/*
  Basic styling
*/

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

// The site container
%container {
  max-width: calc(#{$container-width} - 5vw});
  width: 100%;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  margin-left: auto;
  margin-right: auto;
}

.inner {
  @extend %container;
}

/*
  Masthead
*/

.masthead {
  padding: $spacing-unit;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba($color-text, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  
  .wrap {
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
    .site-title {
      margin: 0;
    }
  }
  
  #main-menu-trigger {
    display: none;
  }
  
  .menu-trigger {
    display: none;
    
    @include media($on-palm) {
      display: block;
    }
    
    svg {
      vertical-align: middle;
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  }
  
  .main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    
    
    @include media($on-palm) {
      display: block;
      position: absolute;
      top: calc(#{100%} + #{$spacing-unit});
      left: -$spacing-unit;
      right: -$spacing-unit;
      text-align: center;
      background-color: rgba($color-text, 0.8);
      -webkit-backdrop-filter: saturate(180%) blur(20px);
      backdrop-filter: saturate(180%) blur(20px);
      opacity: 0;
      visibility: hidden;
      transition-property: opacity, visibility;
      transition-duration: 250ms;
      transition-timing-function: ease;
      padding-top: $spacing-unit / 2;
      padding-bottom: $spacing-unit / 2;
    }
    
    .menu-item {
      a {
        color: $color-background;
      }
      
      @include media($on-palm) {
        margin-top: $spacing-unit / 4;
        margin-bottom: $spacing-unit / 4;
      }
      
      &:not(:last-child) {
        margin-right: $spacing-unit;
        
        @include media($on-palm) {
          margin-right: 0;
        }
      }
    }
  }
  
  #main-menu-trigger:checked ~ .main-menu {
    opacity: 1;
    visibility: visible;
  }
}

.layout-home {
  .masthead {
    background-color: rgba($color-text, 0);
    -webkit-backdrop-filter: saturate(100%) blur(0);
    backdrop-filter: saturate(100%) blur(0);
    transition-property: background-color, -webkit-backdrop-filter, backdrop-filter;
    transition-duration: 350ms;
    transition-timing-function: ease;
    
    &:hover,
    &:focus,
    &.scrolled {
      background-color: rgba($color-text, 0.8);
      -webkit-backdrop-filter: saturate(180%) blur(20px);
      backdrop-filter: saturate(180%) blur(20px);
    }
  }
}

/*
  Footer
*/
.colophon {
  margin-top: 20px;
  padding: $spacing-unit;
  
  .wrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    font-size: 1.2rem;
    
    @include media($on-palm) {
      flex-flow: column nowrap;
      text-align: center;
      align-items: center;
    }
    
    .widget {
      flex: 1 1 auto;
      
      @include media($on-palm) {
        margin-bottom: 20px;
      }
      
      &.about {
        h4 {
          font-size: 1.4rem;
          text-transform: uppercase;
          letter-spacing: 0.2rem;
        }
      }
      
      &.social {
        h4 {
          margin-bottom: 1rem;
        }
        a {
          display: inline-block;
          
          &:not(:last-child) {
            margin-right: 1rem;
          }
        }
        
        svg {
          display: inline-block;
          width: 2.4rem;
          height: 2.4rem;
        }
      }
      
      &.langs {
        ul {
          list-style: none;
          text-align: right;
          
          @include media($on-palm) {
            text-align: center;
          }
          
          a {
            font-weight: lighter;
          }
        }
      }
    }
  }
}

/*
  Content
*/

.layout-default {
  padding-top: 48px + $spacing-unit;
}

.content-header {
  margin-top: $spacing-unit * 3;
  margin-bottom: $spacing-unit * 3;
}

// Cover
.page-cover {
  position: relative;
  height: 75vh;
  
  @include media($on-palm) {
    height: 60vh;
  }
  
  .media-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Archives
.layout-archive {
  margin-top: 80px;
  max-width: 100vw;
  overflow-x: hidden;
}

.projects-list {
  display: flex;
  flex-flow: row wrap;
  margin-left: -$spacing-unit;
  margin-right: -$spacing-unit;
}

.project-card {
  position: relative;
  flex: 1 1 350px;
  margin: 0 0 $spacing-unit * 2;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
  
  &.featured-project {
    flex: 1 1 100%;
  }
  
  .project-media {
    display: block;
    
    .media-container {
      width: 100%;
      display: block;
      min-height: 380px;
      object-fit: cover;
    }
  }
  
  .project-card-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: $spacing-unit $spacing-unit * 2;
    color: $color-background;
    
    .project-card-header {
      .project-title {
        text-transform: uppercase;
        letter-spacing: 0.2em;
        
        a {
          color: $color-background;
        }
      }
    }
    
    .project-card-details {
      opacity: 0;
      visibility: hidden;
      transition-property: opacity, visibility;
      transition-duration: 350ms;
      transition-timing-function: ease;
      
      p {
        margin-bottom: $spacing-unit;
      }
      
      .project-card-read-more-link {
        opacity: 1;
        visibility: visible;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 0;
        color: transparent;
      }
    }
    
    &:hover,
    &:focus {
      .project-card-details {
        opacity: 0.75;
        visibility: visible;
      }
    }
  }
}

// Projects
.layout-project {
  .content-header {
    position: relative;
    
    .inner {
      position: absolute;
      bottom: 0;
      padding-bottom: $spacing-unit;
      color: $color-background;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      
      @include media($on-palm) {
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
      }
      
      h1 {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        
        @include media($on-palm) {
          margin-bottom: $spacing-unit;
        }
      }
      
      a {
        font-weight: lighter;
        color: currentColor;
      }
    }
  }
}

.project-section {
  margin-top: $spacing-unit * 2;
  margin-bottom: $spacing-unit * 2;
}

.project-info {
  display: flex;
  flex-flow: row wrap;
  
  p {
    font-size: 2rem;
    position: relative;
    flex: 1 1 350px;
    margin-bottom: $spacing-unit * 2;
    
    br {
      display: none;
    }
    
    em {
      display: block;
      font-size: 1.2rem;
    }
  }
}

.project-summary {
  text-align: justify;
}

.project-awards {
  text-align: center;
  
  h2 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: $spacing-unit * 2;
    margin-bottom: $spacing-unit * 2;
  }
  
  ul {
    display: flex;
    flex-flow: row wrap;
    margin-top: $spacing-unit * 2;
    margin-bottom: $spacing-unit * 2;
    list-style: none;
    
    li {
      position: relative;
      flex: 1 1 350px;
      margin-bottom: $spacing-unit * 2;
    }
  }
  
  blockquote {
    max-width: 640px;
    margin: 0 auto $spacing-unit * 2;
  }
}

.project-summary,
.project-trailer,
.project-reviews {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.project-summary {
  p {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
  }
}

.project-trailer {
  padding-top: $spacing-unit * 4;
  padding-bottom: $spacing-unit * 4;
}

.project-trailer-wrap {
  position: relative;
  padding: 56.25% 0 0 0;
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
