---
layout: default
---

{% comment %}
Setting the projects
{% endcomment %}

{%- assign archive_tag = page.path | split: '.' | first | split: "/" | last -%}

{%- assign current_language = page.lang | default: site.lang -%}
{%- assign archive_projects = site.projects | where_exp: "project", "project.categories contains archive_tag" | where:
"lang", current_language | sort: "release_year" | reverse -%}

{%- assign featured_project = archive_projects | where_exp: "project","project.tags contains 'featured'" | first -%}


{{ archive_tag }}
{{ current_language }}
{% for project in site.projects %}
  {{ project.category }}
{% endfor %}


{% comment %}
The Layout itself
{% endcomment %}

<div class="inner gallery">
  <header class="content-header">
    <h1 class="content-title">
      {{- page.title -}}
    </h1>
  </header>

  <div class="content gallery-content projects-list">
    {%- if featured_project -%}
    {%- include content/project-card.html project=featured_project -%}
    {%- endif -%}

    {%- for project in archive_projects -%}
    {%- unless project == featured_project -%}
    {%- include content/project-card.html -%}
    {%- endunless -%}
    {%- endfor -%}
  </div>
</div>
